<section>
    <h4>Project version was updated by [{{user.USER_NAME}}] at {{CLOSE_DATE}}</h4>
    <hr>
    <div style="margin-bottom: 10px;">
        <table>
            <tbody>
                <tr>
                    <td>
                        <span style="float: left">ID</span><span style="float: right;">:</span>
                    </td>
                    <td>{{ID}}</td>
                </tr>
                <tr>
                    <td>
                        <span style="float: left">Project</span><span style="float: right;">:</span>
                    </td>
                    <td>{{PRJ_NAME}}</td>
                </tr>
                <tr>
                    <td>
                        <span style="float: left">Repository Code</span><span style="float: right;">:</span>
                    </td>
                    <td>{{REPO_CODE}}</td>
                </tr>
                <tr>
                    <td>
                        <span style="float: left">Dev Version</span><span style="float: right;">:</span>
                    </td>
                    <td>{{CURRENT_D_VERSION}}</td>
                </tr>
                <tr>
                    <td>
                        <span style="float: left">Prod Version</span><span style="float: right;">:</span>
                    </td>
                    <td>{{CURRENT_VERSION}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4>Update Logs</h4>
    <hr>
    <div style="border: 1px solid #ddd; border-radius: 3px;margin-bottom: 10px;">
        <div style="padding: 10px;border-bottom: 1px solid transparent;color: #333;background-color: #f5f5f5;border-color: #ddd;">
            General
        </div>
        <div style="padding: 10px">
            {{{LOG_GENERAL}}}
        </div>
    </div>
    <div style="border: 1px solid #ddd; border-radius: 3px;margin-bottom: 10px;">
        <div style="padding: 10px;border-bottom: 1px solid transparent;color: #333;background-color: #f5f5f5;border-color: #ddd;">
            Features
        </div>
        <div style="padding: 10px">
            {{{LOG_FEATURE}}}
        </div>
    </div>
    <div style="border: 1px solid #ddd; border-radius: 3px;margin-bottom: 10px;">
        <div style="padding: 10px;border-bottom: 1px solid transparent;color: #333;background-color: #f5f5f5;border-color: #ddd;">
            Bug Fixes
        </div>
        <div style="padding: 10px">
            {{{LOG_BUG}}}
        </div>
    </div>
    <div>
        <p>This email was sent by © <a href="http://192.168.3.183:9999" target="_blank">Version Control</a> automatically, do not reply.</p>
    </div>
</section>